# collection types:
###  1. List
###  2.Tuple
###  3. Dictionary

In [1]:
samplelist=["name",23,True,23,1400,400]
print(samplelist)
samplelist.append(34.3)# to add
samplelist.append("real")
print(samplelist)
samplelist.insert(3,"march")
print(samplelist)
samplelist.extend([21,"5anu","20bharathi",34567])# to insert multiple iterable values into the list
print(samplelist)

['name', 23, True, 23, 1400, 400]
['name', 23, True, 23, 1400, 400, 34.3, 'real']
['name', 23, True, 'march', 23, 1400, 400, 34.3, 'real']
['name', 23, True, 'march', 23, 1400, 400, 34.3, 'real', 21, '5anu', '20bharathi', 34567]

In [2]:
#removing elements -->pop(),remove()
samplelist=["name",23,True,23,1400,400]
del samplelist[-1]
print(samplelist)
r=samplelist.pop()
print(r)
samplelist.remove(23)
print(samplelist)

['name', 23, True, 23, 1400]
1400
['name', True, 23]

In [3]:
samplelist.reverse()
print(samplelist)
samplelist.reverse()
print(samplelist)

[23, True, 'name']
['name', True, 23]

In [10]:
list1= [1,200,4200,27500]
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

[1, 200, 4200, 27500]
[27500, 4200, 200, 1]

In [7]:
list1

[27500, 4200, 200, 1]

In [11]:
list2=list1
list1

[27500, 4200, 200, 1]

## Accept three subject marks of the student at run time and store values in a list
## return total marks of the student

In [1]:
n=int(input("enter no of subjects"))
marks =[]
for i in range(n):
    marks.append( int(input()))
print("sum",sum(marks))

enter no of subjects6
2
3
5
6
9
10
sum 35

In [5]:
#finding maximum number
list1=[10,90,30,25]
list1.sort()
print(max(list1))
print(list1[-2])

90
30

In [7]:
#tuple-->indexed,ordered,allows duplicate values,immutable
#use()
t1=(23,45,33,67,34)
l1=list(t1)
print(l1)
l1.append(90011545)
t1=tuple(l1)
print(l1,t1)de

[23, 45, 33, 67, 34]
[23, 45, 33, 67, 34, 90011545] (23, 45, 33, 67, 34, 90011545)

In [10]:
# dict1={key1:value1,key2:value2,....}
#rules for keys: 1.keys should be unique,
#2.keys should be immutable(numbers,strings,tuple)
s1={"name":"bharathi","rollno":20,"course":"cse"}
#add new entry
s1["address"]="hyd"
s1

{'name': 'bharathi', 'rollno': 20, 'course': 'cse', 'address': 'hyd'}

In [11]:
#delete the dictionary
del s1["course"]
s1

{'name': 'bharathi', 'rollno': 20, 'address': 'hyd'}

In [12]:
#update the dictionary
s1["address"]="bangalore"
s1

{'name': 'bharathi', 'rollno': 20, 'address': 'bangalore'}